# Emacs
*~
\#*\#
**/auto/
*_flymake.*
flycheck_*.el

# (La)TeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.ps
*.eps
*.pdf
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*-concordance.tex
*-tikzDictionary
